# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# VS Code
.vscode/

# Test Files
test_*.py

# Generated Reports
reports/

# OS Files
.DS_Store
Thumbs.db